.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  line-height: normal;
  transition: all 0.3s ease;
}
.item:hover {
  background-color: rgba(0, 0, 0, 0.123);
}

.panel {
  display: flex;
  flex-direction: column;
  width: 129px;
  height: 180px;
  border-radius: 10px;
  box-shadow: 0 8px 7px 1px #e5e5e5;
  background-color: rgba(255, 255, 255);
  position: absolute;
  left: 50%;
  transform: translate(-60%, -15px);
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.panel.active {
  opacity: 1;
}