.container {
  display: flex;
  flex-direction: column;
  height: max(90vh, 925px);
  padding-bottom: 50px;
  gap: 50px;
  align-items: center;
}

.bottom-container {
  display: flex;
  width: 80%;
  /* height: 50%;  */
  justify-content: center;
  gap: 30px;
}