@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto'; */
}
body {
  height: 100vh;
}
.show {
  transform: none !important;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}