.body {
  height: 92%;
  min-height: 900px;
  background-color: #fff;
  padding: 30px;
}
.container {
  display: grid;
  height: 100%;
  gap: 20px;
  grid-template-areas:
    "topLeft topLeft topLeft topLeft topRight topRight topRight"
    "botLeft botLeft botRight botRight botRight botRight botRight";
}