.container {
  height: 80px;
  border-bottom: #e2e2e2 2px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
.title {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title h1 {
  font-family: 'Inknut Antiqua';
  line-height: 80px;
  font-size: 1.5rem;
  font-weight: 800;
}

.nav {
  width: 600px;
  display: flex;
  justify-content: space-around;
}
.nav .item {
  font-family: 'Inknut Antiqua';
  font-size: 1rem;
  height: 100%;
}